flows.json
[
    {
        "id": "935e9f68279047c7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2399248efe5a6f7",
        "type": "mqtt out",
        "z": "935e9f68279047c7",
        "name": "",
        "topic": "esp32/sensor/robot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82ad793a282620d2",
        "x": 930,
        "y": 520,
        "wires": []
    },
    {
        "id": "fc1fac07ffa8e562",
        "type": "mqtt in",
        "z": "935e9f68279047c7",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "90c8db1b3b0d855e",
        "type": "mqtt in",
        "z": "935e9f68279047c7",
        "name": "",
        "topic": "esp32/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82ad793a282620d2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "aec8f6cd0ba732bf"
            ]
        ]
    },
    {
        "id": "ed6f87db3454d644",
        "type": "mqtt in",
        "z": "935e9f68279047c7",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82ad793a282620d2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "83c8bcc43235fdfb"
            ]
        ]
    },
    {
        "id": "83c8bcc43235fdfb",
        "type": "ui_chart",
        "z": "935e9f68279047c7",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "aec8f6cd0ba732bf",
        "type": "ui_text",
        "z": "935e9f68279047c7",
        "group": "60402cd78f8fae24",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "707384ee4dd489c9",
        "type": "ui_switch",
        "z": "935e9f68279047c7",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "60402cd78f8fae24",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"state\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"state\":false}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 520,
        "wires": [
            [
                "d2399248efe5a6f7"
            ]
        ]
    },
    {
        "id": "d4bbd4b881a72b9d",
        "type": "mqtt in",
        "z": "935e9f68279047c7",
        "name": "",
        "topic": "esp32/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "82ad793a282620d2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "707384ee4dd489c9",
                "f7358e110a7579f6"
            ]
        ]
    },
    {
        "id": "f7358e110a7579f6",
        "type": "debug",
        "z": "935e9f68279047c7",
        "name": "status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "82ad793a282620d2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.201.48.99",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "60402cd78f8fae24",
        "type": "ui_group",
        "name": "Default",
        "tab": "04d8f72a8995bd95",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04d8f72a8995bd95",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]